<div class="modal fade" id="regioncode" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="row">
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="dz" href="~/Home/ChangeRegion?regioncode=dz&returnURL=@Request.Url.AbsoluteUri"><span class="flag dz">Algeria</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="ar" href="~/Home/ChangeRegion?regioncode=ar&returnURL=@Request.Url.AbsoluteUri"><span class="flag ar">Argentina</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="au" href="~/Home/ChangeRegion?regioncode=au&returnURL=@Request.Url.AbsoluteUri"><span class="flag au">Australia</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="at" href="~/Home/ChangeRegion?regioncode=at&returnURL=@Request.Url.AbsoluteUri"><span class="flag at">Austria</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="az" href="~/Home/ChangeRegion?regioncode=az&returnURL=@Request.Url.AbsoluteUri"><span class="flag az">Azerbaijan</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="bh" href="~/Home/ChangeRegion?regioncode=bh&returnURL=@Request.Url.AbsoluteUri"><span class="flag bh">Bahrain</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="by" href="~/Home/ChangeRegion?regioncode=by&returnURL=@Request.Url.AbsoluteUri"><span class="flag by">Belarus</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="be" href="~/Home/ChangeRegion?regioncode=be&returnURL=@Request.Url.AbsoluteUri"><span class="flag be">Belgium</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="ba" href="~/Home/ChangeRegion?regioncode=ba&returnURL=@Request.Url.AbsoluteUri"><span class="flag ba">Bosnia Herzegovina</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="br" href="~/Home/ChangeRegion?regioncode=br&returnURL=@Request.Url.AbsoluteUri"><span class="flag br">Brazil</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="bg" href="~/Home/ChangeRegion?regioncode=bg&returnURL=@Request.Url.AbsoluteUri"><span class="flag bg">Bulgaria</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="ca" href="~/Home/ChangeRegion?regioncode=ca&returnURL=@Request.Url.AbsoluteUri"><span class="flag ca">Canada</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="cl" href="~/Home/ChangeRegion?regioncode=cl&returnURL=@Request.Url.AbsoluteUri"><span class="flag cl">Chile</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="co" href="~/Home/ChangeRegion?regioncode=co&returnURL=@Request.Url.AbsoluteUri"><span class="flag co">Colombia</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="hr" href="~/Home/ChangeRegion?regioncode=hr&returnURL=@Request.Url.AbsoluteUri"><span class="flag hr">Croatia</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="cz" href="~/Home/ChangeRegion?regioncode=cz&returnURL=@Request.Url.AbsoluteUri"><span class="flag cz">Czech Republic</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="dk" href="~/Home/ChangeRegion?regioncode=dk&returnURL=@Request.Url.AbsoluteUri"><span class="flag dk">Denmark</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="ee" href="~/Home/ChangeRegion?regioncode=ee&returnURL=@Request.Url.AbsoluteUri"><span class="flag ee">Estonia</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="fi" href="~/Home/ChangeRegion?regioncode=fi&returnURL=@Request.Url.AbsoluteUri"><span class="flag fi">Finland</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="fr" href="~/Home/ChangeRegion?regioncode=fr&returnURL=@Request.Url.AbsoluteUri"><span class="flag fr">France</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="ge" href="~/Home/ChangeRegion?regioncode=ge&returnURL=@Request.Url.AbsoluteUri"><span class="flag ge">Georgia</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="de" href="~/Home/ChangeRegion?regioncode=de&returnURL=@Request.Url.AbsoluteUri"><span class="flag de">Germany</span></a></div>
                @*<div class="cblo f16 col-md-1"><a class="cis" data-ccode="gh" href="~/Home/ChangeRegion?regioncode=gh&returnURL=@Request.Url.AbsoluteUri"><span class="flag gh">Ghana</span></a></div>*@
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="gr" href="~/Home/ChangeRegion?regioncode=gr&returnURL=@Request.Url.AbsoluteUri"><span class="flag gr">Greece</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="hk" href="~/Home/ChangeRegion?regioncode=hk&returnURL=@Request.Url.AbsoluteUri"><span class="flag hk">Hong Kong</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="hu" href="~/Home/ChangeRegion?regioncode=hu&returnURL=@Request.Url.AbsoluteUri"><span class="flag hu">Hungary</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="is" href="~/Home/ChangeRegion?regioncode=is&returnURL=@Request.Url.AbsoluteUri"><span class="flag is">Iceland</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="in" href="~/Home/ChangeRegion?regioncode=in&returnURL=@Request.Url.AbsoluteUri"><span class="flag in">India</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="id" href="~/Home/ChangeRegion?regioncode=id&returnURL=@Request.Url.AbsoluteUri"><span class="flag id">Indonesia</span></a></div>
                @*<div class="cblo f16 col-md-1"><a class="cis" data-ccode="iq" href="~/Home/ChangeRegion?regioncode=iq&returnURL=@Request.Url.AbsoluteUri"><span class="flag iq">Iraq</span></a></div>*@
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="ie" href="~/Home/ChangeRegion?regioncode=ie&returnURL=@Request.Url.AbsoluteUri"><span class="flag ie">Ireland</span></a></div>
                @*<div class="cblo f16 col-md-1"><a class="cis" data-ccode="il" href="~/Home/ChangeRegion?regioncode=il&returnURL=@Request.Url.AbsoluteUri"><span class="flag il">Israel</span></a></div>*@
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="it" href="~/Home/ChangeRegion?regioncode=it&returnURL=@Request.Url.AbsoluteUri"><span class="flag it">Italy</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="jm" href="~/Home/ChangeRegion?regioncode=jm&returnURL=@Request.Url.AbsoluteUri"><span class="flag jm">Jamaica</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="jp" href="~/Home/ChangeRegion?regioncode=jp&returnURL=@Request.Url.AbsoluteUri"><span class="flag jp">Japan</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="jo" href="~/Home/ChangeRegion?regioncode=jo&returnURL=@Request.Url.AbsoluteUri"><span class="flag jo">Jordan</span></a></div>
                @*<div class="cblo f16 col-md-1"><a class="cis" data-ccode="kz" href="~/Home/ChangeRegion?regioncode=kz&returnURL=@Request.Url.AbsoluteUri"><span class="flag kz">Kazakhstan</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="ke" href="~/Home/ChangeRegion?regioncode=ke&returnURL=@Request.Url.AbsoluteUri"><span class="flag ke">Kenya</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="kw" href="~/Home/ChangeRegion?regioncode=kw&returnURL=@Request.Url.AbsoluteUri"><span class="flag kw">Kuwait</span></a></div>*@
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="lv" href="~/Home/ChangeRegion?regioncode=lv&returnURL=@Request.Url.AbsoluteUri"><span class="flag lv">Latvia</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="lb" href="~/Home/ChangeRegion?regioncode=lb&returnURL=@Request.Url.AbsoluteUri"><span class="flag lb">Lebanon</span></a></div>
                @*<div class="cblo f16 col-md-1"><a class="cis" data-ccode="ly" href="~/Home/ChangeRegion?regioncode=ly&returnURL=@Request.Url.AbsoluteUri"><span class="flag ly">Libya</span></a></div>*@
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="lt" href="~/Home/ChangeRegion?regioncode=lt&returnURL=@Request.Url.AbsoluteUri"><span class="flag lt">Lithuania</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="lu" href="~/Home/ChangeRegion?regioncode=lu&returnURL=@Request.Url.AbsoluteUri"><span class="flag lu">Luxembourg</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="mk" href="~/Home/ChangeRegion?regioncode=mk&returnURL=@Request.Url.AbsoluteUri"><span class="flag mk">Macedonia</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="my" href="~/Home/ChangeRegion?regioncode=my&returnURL=@Request.Url.AbsoluteUri"><span class="flag my">Malaysia</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="mx" href="~/Home/ChangeRegion?regioncode=mx&returnURL=@Request.Url.AbsoluteUri"><span class="flag mx">Mexico</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="me" href="~/Home/ChangeRegion?regioncode=me&returnURL=@Request.Url.AbsoluteUri"><span class="flag me">Montenegro</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="ma" href="~/Home/ChangeRegion?regioncode=ma&returnURL=@Request.Url.AbsoluteUri"><span class="flag ma">Morocco</span></a></div>
                @*<div class="cblo f16 col-md-1"><a class="cis" data-ccode="np" href="~/Home/ChangeRegion?regioncode=np&returnURL=@Request.Url.AbsoluteUri"><span class="flag np">Nepal</span></a></div>*@
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="nl" href="~/Home/ChangeRegion?regioncode=nl&returnURL=@Request.Url.AbsoluteUri"><span class="flag nl">Netherlands</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="nz" href="~/Home/ChangeRegion?regioncode=nz&returnURL=@Request.Url.AbsoluteUri"><span class="flag nz">New Zealand</span></a></div>
                @*<div class="cblo f16 col-md-1"><a class="cis" data-ccode="ng" href="~/Home/ChangeRegion?regioncode=ng&returnURL=@Request.Url.AbsoluteUri"><span class="flag ng">Nigeria</span></a></div>*@
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="no" href="~/Home/ChangeRegion?regioncode=no&returnURL=@Request.Url.AbsoluteUri"><span class="flag no">Norway</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="om" href="~/Home/ChangeRegion?regioncode=om&returnURL=@Request.Url.AbsoluteUri"><span class="flag om">Oman</span></a></div>
                @*<div class="cblo f16 col-md-1"><a class="cis" data-ccode="pk" href="~/Home/ChangeRegion?regioncode=pk&returnURL=@Request.Url.AbsoluteUri"><span class="flag pk">Pakistan</span></a></div>*@
                @*<div class="cblo f16 col-md-1"><a class="cis" data-ccode="pe" href="~/Home/ChangeRegion?regioncode=pe&returnURL=@Request.Url.AbsoluteUri"><span class="flag pe">Peru</span></a></div>*@
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="ph" href="~/Home/ChangeRegion?regioncode=ph&returnURL=@Request.Url.AbsoluteUri"><span class="flag ph">Philippines</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="pl" href="~/Home/ChangeRegion?regioncode=pl&returnURL=@Request.Url.AbsoluteUri"><span class="flag pl">Poland</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="pt" href="~/Home/ChangeRegion?regioncode=pt&returnURL=@Request.Url.AbsoluteUri"><span class="flag pt">Portugal</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="pr" href="~/Home/ChangeRegion?regioncode=pr&returnURL=@Request.Url.AbsoluteUri"><span class="flag pr">Puerto Rico</span></a></div>
                @*<div class="cblo f16 col-md-1"><a class="cis" data-ccode="qa" href="~/Home/ChangeRegion?regioncode=qa&returnURL=@Request.Url.AbsoluteUri"><span class="flag qa">Qatar</span></a></div>*@
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="ro" href="~/Home/ChangeRegion?regioncode=ro&returnURL=@Request.Url.AbsoluteUri"><span class="flag ro">Romania</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="ru" href="~/Home/ChangeRegion?regioncode=ru&returnURL=@Request.Url.AbsoluteUri"><span class="flag ru">Russia</span></a></div>
                @*<div class="cblo f16 col-md-1"><a class="cis" data-ccode="sa" href="~/Home/ChangeRegion?regioncode=sa&returnURL=@Request.Url.AbsoluteUri"><span class="flag sa">Saudi Arabia</span></a></div>*@
                @*<div class="cblo f16 col-md-1"><a class="cis" data-ccode="sn" href="~/Home/ChangeRegion?regioncode=sn&returnURL=@Request.Url.AbsoluteUri"><span class="flag sn">Senegal</span></a></div>*@
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="rs" href="~/Home/ChangeRegion?regioncode=rs&returnURL=@Request.Url.AbsoluteUri"><span class="flag rs">Serbia</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="sg" href="~/Home/ChangeRegion?regioncode=sg&returnURL=@Request.Url.AbsoluteUri"><span class="flag sg">Singapore</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="sk" href="~/Home/ChangeRegion?regioncode=sk&returnURL=@Request.Url.AbsoluteUri"><span class="flag sk">Slovakia</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="si" href="~/Home/ChangeRegion?regioncode=sk&returnURL=@Request.Url.AbsoluteUri"><span class="flag sk">Slovenia</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="za" href="~/Home/ChangeRegion?regioncode=za&returnURL=@Request.Url.AbsoluteUri"><span class="flag za">South Africa</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="kr" href="~/Home/ChangeRegion?regioncode=kr&returnURL=@Request.Url.AbsoluteUri"><span class="flag kr">South Korea</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="es" href="~/Home/ChangeRegion?regioncode=es&returnURL=@Request.Url.AbsoluteUri"><span class="flag es">Spain</span></a></div>
                @*<div class="cblo f16 col-md-1"><a class="cis" data-ccode="lk" href="~/Home/ChangeRegion?regioncode=lk&returnURL=@Request.Url.AbsoluteUri"><span class="flag lk">Sri Lanka</span></a></div>*@
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="se" href="~/Home/ChangeRegion?regioncode=se&returnURL=@Request.Url.AbsoluteUri"><span class="flag se">Sweden</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="ch" href="~/Home/ChangeRegion?regioncode=ch&returnURL=@Request.Url.AbsoluteUri"><span class="flag ch">Switzerland</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="tw" href="~/Home/ChangeRegion?regioncode=tw&returnURL=@Request.Url.AbsoluteUri"><span class="flag tw">Taiwan</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="tz" href="~/Home/ChangeRegion?regioncode=tz&returnURL=@Request.Url.AbsoluteUri"><span class="flag tz">Tanzania</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="th" href="~/Home/ChangeRegion?regioncode=th&returnURL=@Request.Url.AbsoluteUri"><span class="flag th">Thailand</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="tn" href="~/Home/ChangeRegion?regioncode=tn&returnURL=@Request.Url.AbsoluteUri"><span class="flag tn">Tunisia</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="tr" href="~/Home/ChangeRegion?regioncode=tr&returnURL=@Request.Url.AbsoluteUri"><span class="flag tr">Turkey</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="ug" href="~/Home/ChangeRegion?regioncode=ug&returnURL=@Request.Url.AbsoluteUri"><span class="flag ug">Uganda</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="ua" href="~/Home/ChangeRegion?regioncode=ua&returnURL=@Request.Url.AbsoluteUri"><span class="flag ua">Ukraine</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="ae" href="~/Home/ChangeRegion?regioncode=ae&returnURL=@Request.Url.AbsoluteUri"><span class="flag ae">United Arab Emirates</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="gb" href="~/Home/ChangeRegion?regioncode=gb&returnURL=@Request.Url.AbsoluteUri"><span class="flag gb">United Kingdom</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="us" href="~/Home/ChangeRegion?regioncode=us&returnURL=@Request.Url.AbsoluteUri"><span class="flag us">United States</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="vn" href="~/Home/ChangeRegion?regioncode=vn&returnURL=@Request.Url.AbsoluteUri"><span class="flag vn">Vietnam</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="zw" href="~/Home/ChangeRegion?regioncode=zw&returnURL=@Request.Url.AbsoluteUri"><span class="flag zw">Zimbabwe</span></a></div>
            </div>

        </div>
        </div>
    </div>