<footer>
    <div class="container-full">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="footer-logo" class="pull-left">
                    <a href="~/">
                        <img src="/images/hai22.png" alt="{{meta.domain}}" style="width:90px;">
                    </a>
                </div>
                <div class="pull-left sel">
                    <div class="item-sel">
                        <p data-toggle="modal" data-target="#myLanguage">
                            <i class="fa fa-language"></i> Language: {{{__ "Lang"}}}
                            <i class="fa fa-caret-down"></i>
                        </p>
                    </div>
                    <div class="item-sel">
                        <p data-toggle="modal" class="f16 f161" data-target="#regioncode">
                            <i class="fa fa-map-marker"></i> Vị trí: <span class="flag {{regionCode}}"></span>
                            
                            <i class="fa fa-caret-down"></i>
                        </p>
                    </div>

                </div>
                <div class="pull-right sel text-center-xs">
                    Copyright © 2018 {{meta.domain}}
                </div>
            </div>
        </div>
    </div>
</footer>