<div id="myLanguage" tabindex="-1" role="dialog" aria-labelledby="myLanguageLabel" class="modal fade">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 id="myLanguageLabel" class="modal-title text-uppercase">Chọn ngôn ngữ</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div>
                        
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                            -
                            <a href="/en" rel="nofollow noopener" class="">English</a>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                            -
                            <a href="/vi" rel="nofollow noopener" class="">Tiếng việt</a>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                            -
                            <a href="/th" rel="nofollow noopener" class="">ประเทศไทย</a>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                            -
                            <a href="/ko" rel="nofollow noopener" class="">한국어</a>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                            -
                            <a href="/ja" rel="nofollow noopener" class="">日本語</a>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>