<aside id="sidebar" class="custom-elements">
    <div class="scrollable-area-wrapper noscroll-vertical sidebm sidebm">
        <div class="sidebar-holder scrollable-area sidebm_d">
            <div class="sb_title active">Trending</div>
            <ul class="min-list clearfix" itemscope="" itemtype="http://www.schema.org/SiteNavigationElement">
                <li><a itemprop="url" href="/Category/1/film-animation.html"><i class="fa fa-film cate-icon" aria-hidden="true"></i>Movies</a></li>
                <li><a itemprop="url" href="/Category/2/autos-vehicles.html"><i class="fa fa-car cate-icon" aria-hidden="true"></i>Autos &amp; Vehicles</a></li>
                <li><a itemprop="url" href="/Category/10/music.html"><i class="fa fa-music cate-icon" aria-hidden="true"></i>Music</a></li>
                <li><a itemprop="url" href="/Category/15/pets-animals.html"><i class="fa fa-paw cate-icon" aria-hidden="true"></i>Pets &amp; Animals </a></li>
                <li><a itemprop="url" href="/Category/17/sports.html"><i class="fa fa-futbol-o cate-icon" aria-hidden="true"></i>Sports</a></li>
                <li><a itemprop="url" href="/Category/19/travel-events.html"><i class="fa fa-globe cate-icon" aria-hidden="true"></i>Travel &amp; Events</a></li>
                <li><a itemprop="url" href="/Category/20/gaming.html"><i class="fa fa-gamepad cate-icon" aria-hidden="true"></i>Gaming</a></li>
                <li><a itemprop="url" href="/Category/23/comedy.html"><i class="fa fa-smile-o cate-icon" aria-hidden="true"></i>Comedy</a></li>
                <li><a itemprop="url" href="/Category/24/entertainment.html"><i class="fa fa-star-o cate-icon" aria-hidden="true"></i>Shows</a></li>
                <li><a itemprop="url" href="/Category/26/howto-style.html"><i class="fa fa-thumbs-o-up cate-icon" aria-hidden="true"></i>Howto &amp; Style</a></li>
                <li><a itemprop="url" href="/Category/28/science-technology.html"><i class="fa fa-flask cate-icon" aria-hidden="true"></i>Science &amp; Technology</a></li>
            </ul><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
        </div>
        <div class="vscrollbar" style="height:620px;display:none;">
            <div class="vscroll-up btn-disabled"></div>
            <div class="vscroll-line" style="position:relative;height:0px;"><div class="vscroll-slider" style="position:absolute;height:0px;top:0px;"><div class="scroll-bar-top"></div><div class="scroll-bar-bottom"></div></div></div><div class="vscroll-down btn-disabled"></div>
        </div>
    </div>
</aside>