<div class="modal fade" id="regioncode" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="row">
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="dz" href="/Home/ChangeRegion/dz"><span class="flag dz">Algeria</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="ar" href="/Home/ChangeRegion/ar"><span class="flag ar">Argentina</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="au" href="/Home/ChangeRegion/au"><span class="flag au">Australia</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="at" href="/Home/ChangeRegion/at"><span class="flag at">Austria</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="az" href="/Home/ChangeRegion/az"><span class="flag az">Azerbaijan</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="bh" href="/Home/ChangeRegion/bh"><span class="flag bh">Bahrain</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="by" href="/Home/ChangeRegion/by"><span class="flag by">Belarus</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="be" href="/Home/ChangeRegion/be"><span class="flag be">Belgium</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="ba" href="/Home/ChangeRegion/ba"><span class="flag ba">Bosnia Herzegovina</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="br" href="/Home/ChangeRegion/br"><span class="flag br">Brazil</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="bg" href="/Home/ChangeRegion/bg"><span class="flag bg">Bulgaria</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="ca" href="/Home/ChangeRegion/ca"><span class="flag ca">Canada</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="cl" href="/Home/ChangeRegion/cl"><span class="flag cl">Chile</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="co" href="/Home/ChangeRegion/co"><span class="flag co">Colombia</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="hr" href="/Home/ChangeRegion/hr"><span class="flag hr">Croatia</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="cz" href="/Home/ChangeRegion/cz"><span class="flag cz">Czech Republic</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="dk" href="/Home/ChangeRegion/dk"><span class="flag dk">Denmark</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="ee" href="/Home/ChangeRegion/ee"><span class="flag ee">Estonia</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="fi" href="/Home/ChangeRegion/fi"><span class="flag fi">Finland</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="fr" href="/Home/ChangeRegion/fr"><span class="flag fr">France</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="ge" href="/Home/ChangeRegion/ge"><span class="flag ge">Georgia</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="de" href="/Home/ChangeRegion/de"><span class="flag de">Germany</span></a></div>
                
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="gr" href="/Home/ChangeRegion/gr"><span class="flag gr">Greece</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="hk" href="/Home/ChangeRegion/hk"><span class="flag hk">Hong Kong</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="hu" href="/Home/ChangeRegion/hu"><span class="flag hu">Hungary</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="is" href="/Home/ChangeRegion/is"><span class="flag is">Iceland</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="in" href="/Home/ChangeRegion/in"><span class="flag in">India</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="id" href="/Home/ChangeRegion/id"><span class="flag id">Indonesia</span></a></div>
                
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="ie" href="/Home/ChangeRegion/ie"><span class="flag ie">Ireland</span></a></div>
                
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="it" href="/Home/ChangeRegion/it"><span class="flag it">Italy</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="jm" href="/Home/ChangeRegion/jm"><span class="flag jm">Jamaica</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="jp" href="/Home/ChangeRegion/jp"><span class="flag jp">Japan</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="jo" href="/Home/ChangeRegion/jo"><span class="flag jo">Jordan</span></a></div>
                
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="lv" href="/Home/ChangeRegion/lv"><span class="flag lv">Latvia</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="lb" href="/Home/ChangeRegion/lb"><span class="flag lb">Lebanon</span></a></div>
                
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="lt" href="/Home/ChangeRegion/lt"><span class="flag lt">Lithuania</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="lu" href="/Home/ChangeRegion/lu"><span class="flag lu">Luxembourg</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="mk" href="/Home/ChangeRegion/mk"><span class="flag mk">Macedonia</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="my" href="/Home/ChangeRegion/my"><span class="flag my">Malaysia</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="mx" href="/Home/ChangeRegion/mx"><span class="flag mx">Mexico</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="me" href="/Home/ChangeRegion/me"><span class="flag me">Montenegro</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="ma" href="/Home/ChangeRegion/ma"><span class="flag ma">Morocco</span></a></div>
                
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="nl" href="/Home/ChangeRegion/nl"><span class="flag nl">Netherlands</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="nz" href="/Home/ChangeRegion/nz"><span class="flag nz">New Zealand</span></a></div>
                
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="no" href="/Home/ChangeRegion/no"><span class="flag no">Norway</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="om" href="/Home/ChangeRegion/om"><span class="flag om">Oman</span></a></div>
                
                
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="ph" href="/Home/ChangeRegion/ph"><span class="flag ph">Philippines</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="pl" href="/Home/ChangeRegion/pl"><span class="flag pl">Poland</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="pt" href="/Home/ChangeRegion/pt"><span class="flag pt">Portugal</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="pr" href="/Home/ChangeRegion/pr"><span class="flag pr">Puerto Rico</span></a></div>
                
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="ro" href="/Home/ChangeRegion/ro"><span class="flag ro">Romania</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="ru" href="/Home/ChangeRegion/ru"><span class="flag ru">Russia</span></a></div>
                
                
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="rs" href="/Home/ChangeRegion/rs"><span class="flag rs">Serbia</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="sg" href="/Home/ChangeRegion/sg"><span class="flag sg">Singapore</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="sk" href="/Home/ChangeRegion/sk"><span class="flag sk">Slovakia</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="si" href="/Home/ChangeRegion/sk"><span class="flag sk">Slovenia</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="za" href="/Home/ChangeRegion/za"><span class="flag za">South Africa</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="kr" href="/Home/ChangeRegion/kr"><span class="flag kr">South Korea</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="es" href="/Home/ChangeRegion/es"><span class="flag es">Spain</span></a></div>
                
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="se" href="/Home/ChangeRegion/se"><span class="flag se">Sweden</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="ch" href="/Home/ChangeRegion/ch"><span class="flag ch">Switzerland</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="tw" href="/Home/ChangeRegion/tw"><span class="flag tw">Taiwan</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="tz" href="/Home/ChangeRegion/tz"><span class="flag tz">Tanzania</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="th" href="/Home/ChangeRegion/th"><span class="flag th">Thailand</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="tn" href="/Home/ChangeRegion/tn"><span class="flag tn">Tunisia</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="tr" href="/Home/ChangeRegion/tr"><span class="flag tr">Turkey</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="ug" href="/Home/ChangeRegion/ug"><span class="flag ug">Uganda</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="ua" href="/Home/ChangeRegion/ua"><span class="flag ua">Ukraine</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="ae" href="/Home/ChangeRegion/ae"><span class="flag ae">United Arab Emirates</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="gb" href="/Home/ChangeRegion/gb"><span class="flag gb">United Kingdom</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="us" href="/Home/ChangeRegion/us"><span class="flag us">United States</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="vn" href="/Home/ChangeRegion/vn"><span class="flag vn">Vietnam</span></a></div>
                <div class="cblo f16 col-md-1"><a class="cis" data-ccode="zw" href="/Home/ChangeRegion/zw"><span class="flag zw">Zimbabwe</span></a></div>
            </div>

        </div>
        </div>
    </div>





</div>