.video_info_actions .detail-bg {
    color: #2d2d2d;
    border-bottom: 1px solid #dcdcdc;
    padding: 0 15px;
    background: #fff;
}

.video_info_actions {
    padding: 0;
}
    .video_info_actions .title-area {
        margin: 0;
    }
        .video_info_actions .title-area h1 {
            font-size: 20px;
            line-height: 28px;
            margin: 5px 0 10px;
            font-weight: 400;
            color: #333;
        }
    .video_info_actions .user-likes-count {
        margin: 0 -15px;
    }
    .video_info_actions .detail-bg {
        color: #2d2d2d;
        border-bottom: 1px solid #dcdcdc;
        padding: 0 15px;
        background: #fff;
    }
    .video_info_actions .user-likes-count .like-rating-block .views-count {
        display: inline-block;
        vertical-align: top;
        font-size: 18px;
        line-height: 20px;
    }
    .video_info_actions .user-likes-count .user-info .sub-title .user_title {
        display: block;
        font-size: 12px;
        line-height: 22px;
        font-weight: 500;
        margin: -5px 0 0;
        text-transform: capitalize;
    }
    .video_info_actions .user-likes-count .user-info .avatar {
        display: inline-block;
        vertical-align: middle;
        width: 55px;
        height: 55px;
        margin: 0 10px 0 0;
    }
    .video_info_actions .user-likes-count .user-info .sub-title {
        display: inline-block;
        vertical-align: middle;
    }
        .video_info_actions .user-likes-count .user-info .sub-title .user_title a {
            color: #333;
        }
        .video_info_actions .user-likes-count .user-info .sub-title .btn-subscribe {
            font-size: 12px;
            line-height: 24px;
            font-weight: 400;
            padding: 0;
            border: 0;
            background: #cc181e;
        }
            .video_info_actions .user-likes-count .user-info .sub-title .btn-subscribe span {
                float: left;
                padding: 0 6px;
                border: solid #cc181e;
                border-width: 1px;
                border-radius: 2px;
            }
                .video_info_actions .user-likes-count .user-info .sub-title .btn-subscribe span i.fa-youtube-play {
                    background: 0 0;
                    border: none;
                    color: #fff;
                    float: left;
                    font-size: 16px;
                    line-height: 23px;
                    margin: 0 3px 0 -3px;
                    padding: 0;
                }
        .video_info_actions .user-likes-count .user-info .sub-title .btn-holder .dropdown {
            display: inline-block;
            vertical-align: middle;
            margin: 0 0 0 5px;
        }
vbut {
    display: inline-block;
    padding: 2px 6px;
    margin: 3px;
    border: 1px solid #ccc;
    border-radius: 2px;
}
#cb_player, .player-holder {
    padding: 5px;
    margin: 0 0 13px;
}
#closesh {
    position: relative;
    top: 3px;
    right: 3px;
    color: #ccc;
    float: right;
    cursor: pointer;
}
.share_form .form-group label:first-child {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    margin: 0 5px 5px 0;
}
.replay {
    float: right;
    background: url(/Content/images/replay.png) 100% 100% no-repeat;
    width: 26px;
    height: 26px;
    display: inline-block;
    filter: alpha(Opacity=25);
    opacity: 0.25;
    margin: 0 0 0 10px;
    cursor: pointer;
}
.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}
.rating {
    text-align: right;
    color: #7e7e7e;
    font-size: 12px;
    line-height: 17px;
    padding: 2px 0 40px;
    margin: 0 0 -40px;
    position: relative;
}
    .rating .rating-holder {
        position: relative;
        display: inline-block;
        vertical-align: top;
    }
        .rating .rating-holder .ratting-progress {
            position: absolute;
            height: 2px;
            top: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            background: #ccc;
        }
    .rating .like-dislike {
        width: 80px;
        margin: 10px 0 0 5px;
        text-align: right;
    }

     .rating #circle, .rating .like-dislike {
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
    }
        .rating .like-dislike a {
            display: block;
        }
            .rating .like-dislike a.btn-like i {
                opacity: .5;
                margin: 0 2px 0 0;
                background: url(/images/up.png) no-repeat;
                background-size: 100%;
                width: 20px;
                height: 20px;
            }
            .rating .like-dislike a i {
                display: inline-block;
                vertical-align: middle;
                height: 14px;
                width: 24px;
            }
#disl_num, #l_num {
    line-height: 25px;
    vertical-align: top;
}
.rating .like-dislike a.btn-dislike i {
    opacity: .5;
    margin: 0 5px 0 0;
    background: url(/images/down.png) no-repeat;
    background-size: 100%;
    width: 22px;
    height: 20px;
}
.video_info_actions .user-likes-count .like-rating-block {
    text-align: right;
    color: #333;
}
.tune-tabs .nav-tabs.nav {
    font-size: 13px;
    /* border: 1px solid #e1e1e1; */
    border-width: 1px 0;
}
    .tune-tabs .nav-tabs.nav > li {
        margin: 0 0 -1px;
    }
        .tune-tabs .nav-tabs.nav > li.active > a, .tune-tabs .nav-tabs.nav > li.active > a:focus, .tune-tabs .nav-tabs.nav > li.active > a:hover, .tune-tabs .nav-tabs.nav > li > a:hover {
            border-color: #06c;
            background: 0 0;
            color: #333;
        }
        .tune-tabs .nav-tabs.nav > li > a {
            border-bottom: 1px solid #e1e1e1;
            border-width: 0 0 2px;
            border-color: transparent;
            margin: 0;
        }
.btn-show-more {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #f8f8f8;
    border-color: #e2e2e2 transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    color: #767676;
    line-height: normal;
    margin-top: 10px;
    padding: 10px 0 10px;
    text-transform: uppercase;
    width: 100%;
}
#comments-ul {
    padding-left: 8px;
}
.comments > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.comments > ul > li:first-child {
    border-bottom: 0;
}
.comments > ul > li .comment-avatar {
    float: left;
    width: 46px;
    margin: 7px 14px 0 0;
}
    .comments > ul > li .comment-avatar img {
        width: 48px;
        height: 48px;
    }
.comments > ul > li .comment-info {
    overflow: hidden;
    padding: 4px 10px 0 0;
    font-size: 13px;
}
    .comments > ul > li .comment-info a {
        color: #128ee9;
    }
    .comments > ul > li .comment-info span {
        color: #767676;
        font-size: 11px;
    }
.comments > ul > li p {
    font-size: 13px;
    color: #2d2d2d;
}
.comments > ul > li .com-info-actions {
    color: #6d6d6d;
    font-size: 13px;
    overflow: hidden;
}
    .comments > ul > li .com-info-actions .reply {
        display: inline-block;
        vertical-align: middle;
    }
.comments > ul > li .reply > ul {
    list-style-type: none;
}
    .comments > ul > li .reply > ul > li {
        display: inline-block;
        position: relative;
        padding: 0 6px;
    }
.com_like {
    color: #128ee9;
}

sup {
    top: -.5em;
}
.comments > ul > li {
    padding: 0;
    position: relative;
}

/*====== navi =========*/

@media screen and (min-width: 48em){
#menu {
    background: #23262d;
    width: 100%;
    z-index: 99999999999;
    position: relative;
}}
nav {
    position: relative;
    margin: 0 auto;
}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #head-mobile {
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto
}

#cssmenu:after,
#cssmenu>ul:after {
    content: "Menu";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    color: #fff
}

#cssmenu #head-mobile {
    display: none
}

#cssmenu {
    font-family: sans-serif;
    background: #3b60b5
}

#cssmenu>ul>li {
    float: left
}

#cssmenu>ul>li>a {
    padding: 17px;
    font-size: 12px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #ddd;
    font-weight: 700
}

#cssmenu>ul>li:hover>a,
#cssmenu ul li.active a {
    color: #fff
}

#cssmenu>ul>li:hover,
#cssmenu ul li.active:hover,
#cssmenu ul li.active,
#cssmenu ul li.has-sub.active:hover {
    background: #333!important;
    -webkit-transition: background .3s ease;
    -ms-transition: background .3s ease;
    transition: background .3s ease
}

#cssmenu>ul>li.has-sub>a {
    padding-right: 30px
}

#cssmenu>ul>li.has-sub>a:after {
    position: absolute;
    top: 22px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ddd;
    content: ''
}

#cssmenu>ul>li.has-sub>a:before {
    position: absolute;
    top: 19px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: '';
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease
}

#cssmenu>ul>li.has-sub:hover>a:before {
    top: 23px;
    height: 0
}

#cssmenu ul ul {
    position: absolute;
    left: -9999px
}

#cssmenu ul ul li {
    height: 0;
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    background: #1e88e5;
    transition: all .25s ease
}

#cssmenu ul ul li:hover {}

#cssmenu li:hover>ul {
    left: auto
}

#cssmenu li:hover>ul>li {
    height: 35px
}

#cssmenu ul ul ul {
    margin-left: 100%;
    top: 0
}

#cssmenu ul ul li a {
    border-bottom: 1px solid rgba(150, 150, 150, .15);
    padding: 11px 15px;
    width: 170px;
    font-size: 12px;
    text-decoration: none;
    color: #ddd;
    font-weight: 400
}

#cssmenu ul ul li:last-child>a,
#cssmenu ul ul li.last-item>a {
    border-bottom: 0
}

#cssmenu ul ul li:hover>a,
#cssmenu ul ul li a:hover {
    color: #fff
}

#cssmenu ul ul li.has-sub>a:after {
    position: absolute;
    top: 16px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ddd;
    content: ''
}

#cssmenu ul ul li.has-sub>a:before {
    position: absolute;
    top: 13px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: '';
    -webkit-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease
}

#cssmenu ul ul>li.has-sub:hover>a:before {
    top: 17px;
    height: 0
}

#cssmenu ul ul li.has-sub:hover,
#cssmenu ul li.has-sub ul li.has-sub ul li:hover {
    background: #363636
}

#cssmenu ul ul ul li.active a {
    border-left: 1px solid #333
}

#cssmenu>ul>li.has-sub>ul>li.active>a,
#cssmenu>ul ul>li.has-sub>ul>li.active>a {
    border-top: 1px solid #333
}

@media screen and (max-width:700px) {
    .logo {
        left: 0;
        width: 100%;
        height: 46px;
        text-align: center;
        padding: 0 0 10px 0;
        float: none
    }
    .logo2 {
        display: none
    }
    nav {
        width: 100%
    }
    #cssmenu {
        width: 100%
    }
    #cssmenu ul {
        width: 100%;
        display: none
    }
    #cssmenu ul li {
        width: 100%;
        border-top: 1px solid #444
    }
    #cssmenu ul li:hover {
        background: #363636
    }
    #cssmenu ul ul li,
    #cssmenu li:hover>ul>li {
        height: auto
    }
    #cssmenu ul li a,
    #cssmenu ul ul li a {
        width: 100%;
        border-bottom: 0
    }
    #cssmenu>ul>li {
        float: none
    }
    #cssmenu ul ul li a {
        padding-left: 25px
    }
    #cssmenu ul ul li {
        background: #333!important
    }
    #cssmenu ul ul li:hover {
        background: #363636!important
    }
    #cssmenu ul ul ul li a {
        padding-left: 35px
    }
    #cssmenu ul ul li a {
        color: #ddd;
        background: none
    }
    #cssmenu ul ul li:hover>a,
    #cssmenu ul ul li.active>a {
        color: #fff
    }
    #cssmenu ul ul,
    #cssmenu ul ul ul {
        position: relative;
        left: 0;
        width: 100%;
        margin: 0;
        text-align: left
    }
    #cssmenu>ul>li.has-sub>a:after,
    #cssmenu>ul>li.has-sub>a:before,
    #cssmenu ul ul>li.has-sub>a:after,
    #cssmenu ul ul>li.has-sub>a:before {
        display: none
    }
    #cssmenu #head-mobile {
        display: block;
        padding: 23px;
        color: #ddd;
        font-size: 12px;
        font-weight: 700
    }
    .button {
        width: 55px;
        height: 46px;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        z-index: 12399994
    }
    .button:after {
        position: absolute;
        top: 22px;
        right: 20px;
        display: block;
        height: 4px;
        width: 20px;
        border-top: 2px solid #ddd;
        border-bottom: 2px solid #ddd;
        content: ''
    }
    .button:before {
        -webkit-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
        position: absolute;
        top: 16px;
        right: 20px;
        display: block;
        height: 2px;
        width: 20px;
        background: #ddd;
        content: ''
    }
    .button.menu-opened:after {
        -webkit-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
        top: 23px;
        border: 0;
        height: 2px;
        width: 19px;
        background: #fff;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg)
    }
    .button.menu-opened:before {
        top: 23px;
        background: #fff;
        width: 19px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }
    #cssmenu .submenu-button {
        position: absolute;
        z-index: 99;
        right: 0;
        top: 0;
        display: block;
        border-left: 1px solid #444;
        height: 46px;
        width: 46px;
        cursor: pointer
    }
    #cssmenu .submenu-button.submenu-opened {
        background: #262626
    }
    #cssmenu ul ul .submenu-button {
        height: 34px;
        width: 34px
    }
    #cssmenu .submenu-button:after {
        position: absolute;
        top: 22px;
        right: 19px;
        width: 8px;
        height: 2px;
        display: block;
        background: #ddd;
        content: ''
    }
    #cssmenu ul ul .submenu-button:after {
        top: 15px;
        right: 13px
    }
    #cssmenu .submenu-button.submenu-opened:after {
        background: #fff
    }
    #cssmenu .submenu-button:before {
        position: absolute;
        top: 19px;
        right: 22px;
        display: block;
        width: 2px;
        height: 8px;
        background: #ddd;
        content: ''
    }
    #cssmenu ul ul .submenu-button:before {
        top: 12px;
        right: 16px
    }
    #cssmenu .submenu-button.submenu-opened:before {
        display: none
    }
    #cssmenu ul ul ul li.active a {
        border-left: none
    }
    #cssmenu>ul>li.has-sub>ul>li.active>a,
    #cssmenu>ul ul>li.has-sub>ul>li.active>a {
        border-top: none
    }
    .site-output{
        overflow: hidden;
    }
}
