<div id="all-output" class="col-md-10 error-page">
    <div class="row">

        <div class="col-md-4">
            <h1 class="error-no">404</h1>
        </div><!-- // col-md-4 -->

        <div class="col-md-4">
            <p class="error-text">
                {{{__ "NotFound"}}}
            </p>
        </div><!-- // col-md-4 -->

        <div class="col-md-4">
            <p class="error-text">
                
            </p>
            <div class="search-form">
                 <form action="/Home/Search" id="search" method="get">
                        <input type="text" placeholder="{{{__ "SearchVideo"}}}" name="query" autocomplete="off">
                        <input type="submit" value="Keywords"> </form>
            </div>
        </div><!-- // col-md-4 -->


    </div><!-- // row -->
</div>